name: Tests names path
on:
  workflow_call:
    inputs:
      NAMES_PATH:
        required: true
        type: string

jobs:
  check-duplicates:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check for duplicate definitions
        run: python3 .github/scripts/tests/check-duplicates.py ${{ inputs.NAMES_PATH }}

  check-color-formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check for correct formatting of colored name strings
        run: python3 .github/scripts/tests/check-color-formatting.py ${{ inputs.NAMES_PATH }}
