name: Release (Dev)

on:
  push:
    branches:
      - main

jobs:
  test-general:
    uses: ./.github/workflows/_tests-general.yml
  test-pc:
    uses: ./.github/workflows/_tests-platform.yml
    with:
      NAMES_PATH: PC/names
  test-console:
    uses: ./.github/workflows/_tests-platform.yml
    with:
      NAMES_PATH: Console/names
  create-release-notes:
    uses: ./.github/workflows/_create-release-notes.yml
    needs:
      - test-general
      - test-pc
      - test-console
  create-addon-zip:
    uses: ./.github/workflows/_create-zip.yml
    with:
      dev_version: true
    needs:
      - test-general
      - test-pc
      - test-console

  create-github-release:
    name: "Create Github Release"
    runs-on: ubuntu-latest
    permissions: write-all
    needs:
      - create-addon-zip
      - create-release-notes
    steps:
      - name: Download ZIP Multi
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.create-addon-zip.outputs.zip_multi }}
      - name: Download ZIP PC
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.create-addon-zip.outputs.zip_pc }}
      - name: Download ZIP Console
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.create-addon-zip.outputs.zip_console }}
      - name: Download Release Notes
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.create-release-notes.outputs.release_notes }}

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          name: "${{ needs.create-addon-zip.outputs.addon_version }}"
          commit: ${{ github.ref }}
          tag: "${{ needs.create-addon-zip.outputs.addon_version }}"
          artifacts: "${{ needs.create-addon-zip.outputs.zip_multi }},${{ needs.create-addon-zip.outputs.zip_pc }},${{ needs.create-addon-zip.outputs.zip_console }}"
          artifactContentType: application/zip
          bodyFile: ${{ needs.create-release-notes.outputs.release_notes }}
          allowUpdates: true
          makeLatest: true
          prerelease: true
          updateOnlyUnreleased: true

  create-esoui-release:
    name: "ESOUI Release (TEST)"
    runs-on: ubuntu-latest
    if: github.repository_owner == 'm00nyONE'
    needs:
      - create-addon-zip
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Download ZIP PC
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.create-addon-zip.outputs.zip_pc }}

      - name: Upload to ESOUI (Test)
        uses: m00nyONE/esoui-upload@main
        with:
          api_key: ${{ secrets.ESOUI_API_KEY }}
          addon_id: '4155'
          version: ${{ needs.create-addon-zip.outputs.addon_version }}
          zip_file: ${{ needs.create-addon-zip.outputs.zip_pc }}
          changelog_file: 'CHANGELOG.md'
          #description_file: 'README_ESOUI.bbcode'
          test: true